@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#app img {
  border-radius: 50%;
}

#app .male {
  border-color: steelblue;
  background: steelblue;
}

#app .female {
  border-color: pink;
  background-color: pink;
  color: #333;
}

#app button {
  padding: 1rem;
  border: none;
  background: black;
  color: white;
}
